body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #004aad;
  color: white;
  text-align: center;
  padding: 1rem;
}

.chart-container {
  width: 80%;
  margin: 2rem auto;
}

#logTable {
  width: 80%;
  margin: 2rem auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
